[submodule "gasos-sensor"]
	path = gasos-sensor
	url = https://github.com/kmu-kobot/gasos-sensor.git
	branch = master
[submodule "gasos-server"]
	path = gasos-server
	url = https://github.com/kmu-kobot/gasos-server.git
	branch = master
[submodule "gasos-mobile"]
	path = gasos-mobile
	url = https://github.com/kmu-kobot/gasos-mobile.git
	branch = master
